body {
  margin: 0;
  font-family: 'Righteous', cursive;
  /* border: 2px solid magenta; */
  background: rgb(106, 98, 98);
}

.item-price {
  font-family: cursive;
}

#a {
  color: black;
  text-decoration: none;
}
#a:hover {
  color: white;
}

.liked {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  text-decoration: none;
  max-width: 70px;
  transition: all 0.2s ease-in;
  border: 2px solid black;
}

.liked:hover {
  border: 2px solid white;
  border-radius: 5px;
}

header {
  /* border: 2px solid magenta; */
  height: 14vh;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  align-items: center;
  padding: 0 5px;
}

.fa-solid {
  font-size: 2rem;
  padding: 5px 15px;
  margin: 0 5px;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.fa-solid:hover {
  border: 2px solid black;
  color: black;
  background-color: white;
}

.store-container {
  /* text-align: center; */
  align-items: center;
  /* border: 2px solid magenta; */
  max-width: 100vw;
  background: rgb(106, 98, 98);
  background-size: cover;
  color: white;
  letter-spacing: 0.075rem;
  padding: 5px;
}

.fav {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* border: 2px solid magenta; */
  align-items: center;
}

.fav-item span {
  /* border: 2px solid magenta; */
  position: absolute;
  /* border: 2px solid black; */
  color: black;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  font-size: 0.8rem;
}
.fav-container {
  width: 400px;
  /* border: 2px solid magenta; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.fav-img {
  transition: all 0.25s ease-in;
  width: 100%;
  cursor: pointer;
}

.fav-img:hover {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
}

.fav-item {
  /* border: 2px solid magenta; */
  border-radius: 5px;
  max-width: 120px;
  margin: 5px;
  position: relative;
  transition: all 0.2s ease-in;
}

.fav-item:hover > span {
  font-size: 0.9rem;
}

.empty-heart-icon {
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.empty-heart-icon:hover {
  box-shadow: 0 0 3px 5px rgba(255, 255, 255, 0.2);
}

.inlikes-desc {
  font-size: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 2px 0;
}

.fav-price {
  margin: 0;
  padding: 0 0 0 10px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .order-btn, */
.clean-btn {
  text-align: start;
}
.order-btn {
  text-align: center;
}
.clean-btn button,
.order-btn button {
  padding: 10px 15px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.175s ease-in;
}

.order-btn button:hover,
.clean-btn button:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.row {
  /* border: 2px solid magenta; */
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 750px;
}

.price-info {
  /* border: 2px solid magenta; */
  width: 90%;
  font-size: 0.8rem;
  padding: 10px;
}

.item-in-cart {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 15px 0;
}

.price {
  margin: -10px 0 2px 0;
  /* margin-top: 10px; */
}

.product-container {
  /* border: 2px solid magenta; */
  /* position: relative; */
  border-radius: 15px;
  max-width: 150px;
  display: flex;
  padding: 0;
  transition: all 0.2s ease-in;
}

.product-container:hover {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.image-container {
  /* border: 2px solid magenta; */
  padding-top: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
  position: relative;
}

.add-cart-icon {
  top: 0;
  right: 0;
  margin: 2.5px;
  font-size: 1.2rem;
  color: white;
  border: 2px solid white;
  background-color: black;
  padding: 1px;
  border-radius: 5px;
  transition: all 0.25s ease-in;
  position: absolute;
  cursor: pointer;
}

.heart-cart-icon {
  top: 0;
  left: 0;
  margin: 2.5px;
  font-size: 1.2rem;
  color: white;
  border: 2px solid white;
  background-color: black;
  padding: 1px;
  border-radius: 5px;
  transition: all 0.25s ease-in;
  position: absolute;
  cursor: pointer;
}

.add-cart-icon:hover,
.heart-cart-icon:hover {
  color: black;
  border: 2px solid black;
  background-color: white;
}

img {
  border-radius: 5px;
}

.image-div {
  /* border: 2px solid magenta; */
  display: flex;
}

.cart-item {
  /* border: 2px solid magenta; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: all 0.5s ease-in;
  justify-content: space-around;
  transition: all 0.3s ease-in;
}

.bin-icon {
  cursor: pointer;
  font-size: 20px;
  color: black;
  margin-left: -35px;
  transition: all 0.2s ease-in;
}

.bin-icon:hover {
  transform: scale(1.5);
}

.cart-item img {
  transition: all 0.25s ease-in;
  margin: 0 0 0 -85px;
}

.cart-item:hover > img {
  transform: scale(1.1);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

.cart-item > h3 {
  transition: all 0.25s ease-in;
}

.item-in-cart {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.cart-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.item-in-cart h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.men {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.men > p,
h4 {
  margin: 0;
  background-color: white;
  color: black;
  max-width: 150px;
  padding: 0 10px;
  border: none;
  border-radius: 5%;
}

.image-info-row {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
}

.three-images {
  width: 30%;
  border: 3px solid black;
  margin: 15px 6px;
}

.total-amount {
  /* border: 2px solid magenta; */
  display: flex;
  flex-direction: row;
}

.total-amount-btn {
  padding: 2px 10px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset;
  transition: all 0.15s ease;
}

.total-amount-btn:active {
  -webkit-box-shadow: inset 1px 1px 10px #333;
  -moz-box-shadow: inset 1px 1px 10px #333;
  box-shadow: inset 1px 1px 10px #333;
}
